body {
  background-color: rgb(106, 177, 235);
  color: #000080;
  height: 100vh;
  width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000080;
}

#header {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  letter-spacing: 2px;
}

#mainGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* "random question" */
button {
  color: #000080;
  background-color: rgb(255, 179, 0);
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  border: 2px solid rgb(113, 113, 113);
  border-radius: 3px;
  height: 5%;
}

.mainText {
  color: #000080;
}

#questionArea {
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#questionBox {
  background-color: #000080;
  color: white;
  border: 4px solid rgb(113, 113, 113);
  border-radius: 5px;
  padding: 1rem;
  width: 70vw;
  font-size: large;
  overflow: auto;
  height: 40vh;
  text-transform: uppercase;
  /* font-weight: bold; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#answerReveal {
  color: #5a5151;
  font-size: small;
  background-color: rgb(255, 179, 0);
  border: 2px solid rgb(216, 211, 211);
  border-radius: 2px;
  height: auto;
  width: 35%;
}

#answer {
  font-size: 1rem;
  font-weight: bold;
}

#revealed {
  background-color: darkblue;
  color: white;
  font-weight: bold;
}

#categoryTitle {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}