body {
  background-color: rgb(106, 177, 235);
  color: #000080;
  height: 100vh;
  width: 100vw;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000080;
}

#header {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  letter-spacing: 2px;
}

#mainGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* "random question" */
button {
  color: #000080;
  background-color: rgb(255, 179, 0);
  font-weight: bold;
  border: 2px solid rgb(113, 113, 113);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#randomBtn {
  color: #000080;
  background-color: rgb(255, 179, 0);
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  border: 2px solid rgb(113, 113, 113);
  border-radius: 3px;
  height: 5%;
}

.scoreBtns {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(113, 113, 113);
  padding: 1rem;
}

#wrongAnsBtn {
  background-color: rgb(174, 7, 7);
  color: rgb(240, 236, 5);
  margin-right: .5rem;
  height: 5vh;
  width: 5vw;
}

#correctAnsBtn {
  background-color: rgb(10, 99, 10);
  color: rgb(240, 236, 5);
  height: 5vh;
  width: 5vw;
}

#resetBtn {
  height: 2vh;
  width: auto;
  border: 2px solid rgb(113, 113, 113);
  margin-top: .25rem;
  margin-left: .5rem;
}

.mainText {
  color: #000080;
  margin: 1rem;
}

#questionArea {
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#questionBox {
  background-color: #000080;
  color: white;
  border: 4px solid rgb(113, 113, 113);
  border-radius: 5px;
  padding: 1rem;
  width: 60vw;
  font-size: large;
  overflow: auto;
  height: 40vh;
  text-transform: uppercase;
  /* font-weight: bold; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#scoreArea {
  margin-bottom: .5rem;
}

#answerReveal {
  color: #5a5151;
  font-size: smaller;
  background-color: rgb(255, 179, 0);
  border: 2px solid rgb(216, 211, 211);
  border-radius: 2px;
  height: auto;
  width: 40%;
}

#answer {
  font-size: 1rem;
  font-weight: bold;
}

#revealed {
  background-color: darkblue;
  color: white;
  font-weight: bold;
}

.gameTitle {
  text-transform: capitalize;
  font-size: 1.25rem;
}

.hidden {
  display: none;
}
